VITE_APP_NAME=Campfire
VITE_WEB_DOMAIN=localhost:5173
VITE_API_BASE_URL=http://127.0.0.1:8010
VITE_LOCAL_AUTH_TOKEN_URL=http://127.0.0.1:8010/_local/token
VITE_AUTH_AUTHORITY=http://127.0.0.1:8010
VITE_AUTH_CLIENT_ID=campfire-web
VITE_AUTH_REDIRECT_URI=http://localhost:5173/auth/callback
VITE_AUTH_POST_LOGOUT_REDIRECT_URI=http://localhost:5173/
VITE_AUTH_SCOPE=openid email profile
VITE_AUTH_RESPONSE_TYPE=code
